name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - head
          - '3.3'
          - '3.2'
          - '3.1'
          - '3.0'
          - '2.7'
          - '2.6'
          - jruby
    continue-on-error: ${{ matrix.ruby == 'head' }}
    name: Ruby ${{ matrix.ruby }}
    env:
      JRUBY_OPTS: "--debug"
    steps:
      - uses: actions/checkout@v4
      - name: Install Apt Packages
        run: |
          sudo apt-get install libcurl4-openssl-dev -y
      - uses: ruby/setup-ruby@v1
        continue-on-error: false
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
          rubygems: 'latest'
          bundler: 'latest'
      - run: |
          bundle exec rake
